<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Graph!</h2>

    <ol th:if="${numbers != null}">
        <li th:each="num : ${numbers}" th:text="${num}"></li>
    </ol>
    <ol th:if="${numbers!=null and !numbers.isEmpty()}">
        <li th:each="${num : numbers}" th:text="${num}"></li>
    </ol>
    <ol th:if="${numbers.length > 0 }">
        <li th:each="num : ${numbers}" th:text="${num}"></li>
    </ol>

    <p th:each="num : ${numbers}" th:text="${num}"></p>

    




</body>
</html>