<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Graph of your dataset </h2>

    <div class="menu">
        <form th:if="${userId}" method="post" th:action="@{/data/delete(datasetId=${datasetId})}" id="goToAccount">
            <input type="hidden" name="userId" th:value="${userId}" />
            <input type="hidden" name="datasetId" th:value="${datasetId}" />
            <input type="hidden" name="goTo" value="account" />
            <input type="submit" form="goToAccount" class="submit-as-link" value="My Account"></a>
        </form>
        <form th:if="${userId}" method="post" th:action="@{/data/delete(datasetId=${datasetId})}" id="goToLogout">
            <input type="hidden" name="userId" th:value="${userId}" />
            <input type="hidden" name="datasetId" th:value="${datasetId}" />
            <input type="hidden" name="goTo" value="logout" />
            <input type="submit" form="goToLogout" class="submit-as-link" value="Log Out"></a>
        </form>
        <form th:unless="${userId}" method="post" th:action="@{/data/delete(datasetId=${datasetId})}" id="goToSignup">
            <input type="hidden" name="datasetId" th:value="${datasetId}" />
            <input type="hidden" name="goTo" value="signup" />
            <input type="submit" form="goToSignup" class="submit-as-link" value="Sign Up"></a>
        </form>
    </div>

    <div class="graph">
        <img th:src="@{graph/display(dataObjectId=${dataObjectId})}" width=700 height=400>
    </div>

    <div class="links">
        <form th:if="${userId}" method="post" th:action="@{/user/save(userId=${userId},datasetId=${datasetId})}">
            <input type="hidden" name="userId" th:value="${userId}" />
            <input type="hidden" name="datasetId" th:value="${datasetId}" />
            <input type="submit" value="Save dataset to my account" />

            <div class="error" th:if="${saveError}" th:text="${saveError}"></div>            
        </form>

        <form method="post" th:action="@{/data/delete(datasetId=${datasetId})}">
            <input th:if="${userId}" type="hidden" name="userId" th:value="${userId}" />
            <input type="hidden" name="datasetId" th:value="${datasetId}" />
            <input type="submit" value="Enter new dataset" />

            <div class="error" th:if="${deleteError}" th:text="${deleteError}"></div>
        </form>

    </div>

</body>
</html>