<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Graph of your dataset </h2>
    <div th:replace="fragments :: menu"></div>

    <div class="graph">
        <img th:src="@{graph/display(dataObjectId=${dataObjectId})}" width=700 height=400>
    </div>

    <div class="links">
        <a th:href="@{/user/save}" th:text="'Save dataset to my account'"></a>
        <a th:href="@{/data/upload}" th:text="'Enter new dataset'"></a>
    </div>

</body>
</html>