<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Upload Data</h2>
    <div th:replace="fragments :: menu"></div>
    <p>Please upload or enter the X and Y values of your dataset.</p>

    <div>
        <h2>Upload</h2>
        <div>
            <label for="xUpload">X: </label>
            <input type=file name="xFile" id="xUpload"/>
        </div>
        <div>
            <label for="yUpload">Y: </label>
            <input type=file name="yFile" id="yUpload"/>
        </div>
    </div>

    <h2>or</h2>

    <div>
        <h2>Enter</h2>
        <p>Values must be separated by new line or by comma</p>
        <div>
            <label for="xEnter">X: </label>
            <input type="textArea" name="xData" id="xEnter" />
        </div>
        <div>
            <label for="yEnter">Y: </label>
            <input type="textArea" name="yData" id="yEnter" />
        </div>
    </div>


</body>
</html>