<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Upload Data</h2>
    <div th:replace="fragments :: menu"></div>

    <form method="post" id="thisForm" enctype="multipart/form-data">
        <div class="whole-container">
            <div class="column1">
                <div class="label">Upload</div>

                <div class="instructions">
                    Values in files must be separated by new line, space, or comma
                </div>

                <div class="upload-container">
                    <div class="upload-line">
                        <div class="upload-label">
                            <label for="xUpload">X: </label>
                        </div>
                        <div class="upload-input">
                            <input type=file name="xFile" id="xUpload"/>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!!!!</div>-->

                    <div class="upload-line">
                        <div class="upload-line">
                            <div class="upload-label">
                                <label for="yUpload">Y: </label>
                            </div>
                            <div class="upload-input">
                                <input type=file name="yFile" id="yUpload"/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!!!!</div>-->
                
                </div>
            </div>

            <div class="column2">
                <div class="label">or</div>

                <div class="line"></div>

                <div class="submit-button">
                    <input type="submit" value="Submit Data"/>
                </div>
            </div>

            <div class="column3">
                <div class="label">Enter</div>

                <div class="instructions">
                    Separate values by new line, space, or comma
                </div>

                <div class="upload-container">
                    <div class="entry-box">
                        <div class="entry-label">
                            <label for="xEnter">X: </label>
                        </div>
                        
                        <div class="entry">
                            <textarea form="thisForm" name="xEntry" id="xEnter" cols=68 rows=13></textarea>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!</div>-->

                    <div class="entry-box">
                        <div class="entry-label">
                            <label for="yEnter">Y: </label>
                        </div>
                        
                        <div class="entry">
                            <textarea form="thisForm" name="yEntry" id="yEnter" cols=68 rows=13></textarea>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!</div>-->
                </div>
                
            </div>
        </div>
    </form>

</body>
</html>