<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Upload Data</h2>
    <div th:replace="fragments :: menu"></div>
    <!--<p>Please upload or enter the X and Y values of your dataset.</p>-->

    <form method="post" id="thisForm">
        <div class="whole-container">
            <div class="column1">
                <div class="label">Upload</div>

                <div class="upload-container">
                    <div class="upload-line">
                        <div class="upload-label">
                            <label for="xUpload">X: </label>
                        </div>
                        <div class="upload-input">
                            <input type=file name="xFile" id="xUpload"/>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!!!!</div>-->

                    <div class="upload-line">
                        <div class="upload-line">
                            <div class="upload-label">
                                <label for="yUpload">Y: </label>
                            </div>
                            <div class="upload-input">
                                <input type=file name="yFile" id="yUpload"/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!!!!</div>-->
                
                </div>
            </div>

            <div class="column2">
                <div class="label">or</div>

                <div class="line"></div>

                <div class="submit-button">
                    <input type="submit" value="Submit Data"/>
                </div>
            </div>

            <div class="column3">
                <div class="label">Enter</div>

                <div class="instructions">
                    Separate values by new line or by comma
                </div>

                <div class="upload-container">
                    <div class="entry-box">
                        <div class="entry-label">
                            <label for="xEnter">X: </label>
                        </div>
                        
                        <div class="entry">
                            <textarea form="thisForm" name="xData" id="xEnter" cols=68 rows=13></textarea>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!</div>-->

                    <div class="entry-box">
                        <div class="entry-label">
                            <label for="yEnter">Y: </label>
                        </div>
                        
                        <div class="entry">
                            <textarea form="thisForm" name="yData" id="yEnter" cols=68 rows=13></textarea>
                        </div>
                    </div>
                    <!--<div class="data-error">Error!!!!</div>-->
                </div>
                



            </div>




        </div>
    </form>

    <!--<div class="data-entry-box">
        <form method="post" id="thisForm">

            <div class="file-box">
                <div class="entry-type">Upload</div>
                <div class="file-upload">
                    <label for="xUpload">X: </label>
                    <input type=file name="xFile" id="xUpload"/>
                </div>

                <div class="space"></div>

                <div class="file-upload">
                    <label for="yUpload">Y: </label>
                    <input type=file name="yFile" id="yUpload"/>
                </div>
            </div>

            <div class="divider-box">
                <div class="entry-type">or</div>
                <div class="divider"></div>
            </div>

            <div class="entry-box">
                <div class="entry-type">Enter</div>
                <p>Values must be separated by new line or by comma</p>
                <div>
                    <label for="xEnter">X: </label>
                    <input type="textArea" name="xData" id="xEnter" />
                    <textarea form="thisForm" name="xData" id="xEnter" cols=30 rows=12></textarea>
                </div>
                <div>
                    <label for="yEnter">Y: </label>
                    <input type="textArea" name="yData" id="yEnter" />
                    <textarea form="thisForm" name="yData" id="yEnter" cols=30 rows=12></textarea>
                </div>
            </div>

            <div>
                <input type="submit" />
            </div>
        </form>
    </div>-->


</body>
</html>