
body {
    background-color:cadetblue;
}

h2 {
    font-family: "Georgia";
    color:antiquewhite;
}

.form-box {
    display: block;
}
.form-box span {
    font-family: "Georgia";
    color:darkred;
    font-size: 18px;
    font-weight: bold;
    margin-right: 50px;
}


.styled-input {
    border-radius: 4px;
    border: 0px;
    margin-top: 10px;
    height: 100%;
}

input[type=submit] {
    margin-top: 10px;
}

input, textarea {
    font-size: 15px;
}