<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>My Account</h2>
    <div th:replace="fragments :: menu"></div>
    <a class="data-link" th:href="@{/data/upload(userId=${userId})}">Upload Data</a>

    <h3>My Datasets</h3>
    <div class="dataset-list" th:if="${datasets.size() > 0}">
        <div th:each="dataset : ${datasets}">
            <form method="post" th:action="@{/user/account/view-dataset(userId=${userId},datasetId=${dataset.getId()})}">
                <input type="submit" th:value="${dataset.getId()}" />
            </form>
        </div>
    </div>
</body>
</html>