<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">

<head>
    <title>Web App with User Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />

</head>
<body>
    <center><h2>Online Data Storage and Display</h2></center>

    <div class="form-box">
        <span>Log In</span>
        <span><a th:href="@{/user/signup}">Sign Up</a></span>
        <form method="post">
            <div>
                <input type="text" name="username" placeholder="Username" class="styled-input">
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" class="styled-input"/>
            </div>
            <div>
                <input type="submit" value="Log In" />
            </div>
        </form>
    </div>


</body>
</html>