<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Online Data Storage and Display</h2>

    <div class="form-box">
        <div class="form-item">
            <div class="label">Log In</div>
            <div class="label"><a th:href="@{/user/signup}">Sign Up</a></div>
        </div>

        <form method="post">
            <div class="form-item">
                <div class="text-box">
                    <input type="text" name="username" placeholder="Username" class="styled-input">
                </div>
            </div>
            <div class="form-item">
                <div class="error" th:if="${userError}" th:text="${userError}"></div>
            </div>

            <div class="form-item">
                <div class="text-box">
                    <input type="password" name="password" placeholder="Password" class="styled-input">
                </div>
            </div>
            <div class="form-item">
                <div class="error" th:if="${passError}" th:text="${passError}"></div>
            </div>

            <div class="form-item">
                <input type="submit" value="Log In" />
            </div>

        </form>

        <div class="form-item">
            <div id="proceed">
                <a th:href="@{/data/upload}">Proceed without an account</a>
            </div>
        </div>

    </div>
  
</body>
</html>
