<!DOCTYPE HTML>
<html>
<head>
    <title>Web App with User Accounts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <center>
    <h2>Online Data Storage and Display</h2>
    

    <div>
        <b>Login to your account</b>
        <form method="post">
            <input type="text" name="username">
            <span></span>
            <input type="password" name="password" />
            <input type="submit" value="Login" />
        </form>
    </div>


    </center>
</body>
</html>