<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Online Data Storage and Display</h2>

    <div class="form-box">
        <div class="form-item">
            <div class="label">Sign Up</div>
            <div class="label"><a th:href="@{/user/login}">Log In</a></div>
        </div>

        <form method="post" th:object="${user}">
            <div class="form-item">
                <div class="text-box">
                    <input th:field="*{username}" placeholder="Username" class="styled-input">
                </div>
            </div>
            <div class="form-item">
                <div class="error" th:errors="*{username}"></div>
            </div>

            <div class="form-item">
                <div class="text-box">
                    <input type="password" th:field="*{password}" placeholder="Password" class="styled-input">
                </div>
            </div>
            <div class="form-item">
                <div class="error" th:errors="*{password}"></div>
            </div>

            <div class="form-item">
                <div class="text-box">
                    <input type="password" name="retyped" placeholder="Retype Password" class="styled-input">
                </div>
            </div>
            <div class="form-item">
                <div class="error" th:if="${passError}" th:text="${passError}"></div>
            </div>

            <div class="form-item">
                <input type="submit" value="Sign Up" />
            </div>

        </form>

        <div class="form-item">
            <div id="proceed">
                <a th:href="@{/data/upload}">Proceed without an account</a>
            </div>
        </div>

    </div>
  
</body>
</html>