<!DOCTYPE HTML>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <title>Data Storage and Display</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <center>
        <h2>Online Data Storage and Display</h2>
    

        <div class="form-box" th:object="${user}">
            <span>Sign Up</span>
            <span><a th:href="@{/user/login}">Log In</a></span>
            <form method="post">
                <div>
                    <input th:field="*{username}" placeholder="Username" class="styled-input">
                    <span id="aagh" th:errors="*{username}"></span>
                </div>
                <div>
                    <input type="password" th:field="*{password}" placeholder="Password" class="styled-input"/>
                    <span id="aagh" th:errors="*{password}"></span>
                </div>
                <div>
                    <input type="password" name="retyped" placeholder="Retype Password" class="styled-input"/>
                    <div th:if="*{password} != 'hi'"><p>POOOOPP</p></div>

                    
                </div>
                <div>
                    <input type="submit" value="Sign Up" />
                </div>
            </form>
        </div>

        <div id="proceed">
            <a th:href="@{/data/add}">Proceed without an account</a>
        </div>
    </center>
</body>
</html>